/* CSS declarations go here */

/*---------->> CSS RESET <<----------*/

*{
  margin: 0;
  padding: 0; 
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*---------->> GLOBAL CSS <<----------*/

html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  /*background-color: #315481;*/
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  min-height: 100%;
  background: white;
  letter-spacing: 1.2px;
}

header {
  background: #FFC107;
  padding: 20px 30px 15px 30px;
  position: relative;
  height: 205px;
}

h4 {
  color: #FFFFFF;
  margin: 0;
  letter-spacing: 1.5px;
  margin-right: 1em;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  position: relative;
}

img {
  position: absolute;
  border: 0;
  width: 50px;
  top: 3px;
  left: 83%;
}

h5 {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 20px;
  letter-spacing: 0;
}

form {
  margin-top: 20px;
}

[name=todoItem] {
  border: none;
}

[name=todoItem]:focus { 
  outline: none;
}

.hide-tasks {
  margin-top: 20px;
}

span.badge.new {
  background-color: #00BCD4;
  float: right;
  padding: 0 5px;
  border-radius: 9px;
  color: white;
}

header .hide-completed {
  font-size: 14px;
  color: #FFECB3;
}

label.hide-completed{
  margin-left: 10px;
}

.shadow {
  -moz-box-shadow:    0 3px 5px 0 #ccc;
  -webkit-box-shadow: 0 3px 5px 0 #ccc;
  box-shadow:         0 3px 5px 0 #ccc;
}


/*---------->> NAVIGATION BAR <<----------*/
.navbar {
  height: 45px;
  background-color: #FFA000;
}

.footer-container {
  height: 45px;
  background-color: #FFA000;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

/*---------->> NOTES INPUT FIELD <<----------*/

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

input#note[placeholder]{
  color: white;
  background: transparent;
  text-indent: 15px;
  border-bottom: 2px solid #FFA000;
}

/*---------->> LOGIN <<----------*/

#login-buttons {
  display: block;
}

a#login-sign-in-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

a#signup-link {
    text-transform: uppercase;
}

#login-buttons .login-close-text {
    text-decoration: none;
}

#login-buttons #signup-link {
    text-decoration: none;
}

#login-dropdown-list {
  position: absolute;
  top: 40px;
  left: -221px;
  width: 320px;
  height: 250px;
}

#login-buttons 
.login-link-and-dropdown-list {
  float: right;
  margin-right: 20px;
  margin-top: 13px;
}

.accounts-dialog {
  border-radius: 0;
  border: 1px solid #00BCD4;
  background: #00BCD4;
  color: #F2F2F2;
}

#login-buttons .login-button, 
.accounts-dialog .login-button {
  background: #FFC107;
  border: 1px solid #FFC107;
  border-radius: 2px;
}

input#login-username {
  background: FFFFFF;
  border: 1px solid #fff;
  border-radius: 2px;
}

input#login-password {
  color: #00BCD4;
}

#login-buttons input[type=password], 
.accounts-dialog input[type=password] {
  padding: 6px;
  border: 1px solid #fff;
  border-radius: 2px;
  line-height: 1.2;
  background: #FFFFFF;
}

#login-buttons .login-button, 
.accounts-dialog .login-button {
    background: #FFC107;
    border: 1px solid #FFC107;
    border-radius: 2px;
    width: 60%;
    height: 40px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 5%;
}

#login-buttons .login-button:hover,
.accounts-dialog .login-button:hover {
  background: #FFA000;
  border: 1px solid #FFA000;
  width: 60%;
  height: 40px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 8%;
  margin-bottom: 5%;
}

a#login-name-link {
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 1;
  text-decoration: none;
}

#login-buttons input[type=text], 
.accounts-dialog input[type=text] {
    border: none;
    color: #00BCD4;
}

/*---------->> TASKS <<----------*/

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  background: none;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #B6B6B6 solid 1px;
}

li .note {
  margin-left: 10px;
  font-size: 1em;
}

li.checked {
  color: #888;
}

li.checked .note {
  text-decoration: line-through;
}

.fa-trash-o:before {
  color: #FFA000;
}

input#checkit {
  margin-left: 15px;
}


/*---------->> MEDIA QUERIES <<----------*/

@media (max-width: 600px) {

  .container {
    width: 100%;
  }

  img {
    position: absolute;
    border: 0;
    width: 50px;
    top: 3px;
    left: 83%;
  }

  form {
    margin-top: 20px;
  }

  li {
    padding: 12px 15px;
    border-bottom: #FFECB3 solid 1px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }

}
