/* CSS declarations go here */

/*---------->> CSS RESET <<----------*/

*{
  margin: 0;
  padding: 0; 
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*---------->> GLOBAL CSS <<----------*/

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #315481;
  /*background-image: linear-gradient(to bottom, #315481, #918e82 100%);*/
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  margin: 0 auto;
  min-height: 100%;
  background: white;
  letter-spacing: 1.2px;
}

header {
  background: #FFC107;
  padding: 20px 30px 15px 30px;
  position: relative;
  height: 250px;
}

h4 {
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 20px;
  margin-right: 1em;
  text-transform: uppercase;
}

/*span.bee-icon{
  background-image: url(/bee-icon.png);
}*/

img {
  border: 0;
  width: 4%;
}

h5 {
  color: #FFECB3;
  margin-bottom: 20px;
}

  form {
    margin-top: 8%;
  }

span.badge.new {
    background-color: #00BCD4;
    right: 30px;
}

header .hide-completed {
  font-size: 14px;
  color: #FFECB3;
}

label.hide-completed{
  float: right;
}

[type="checkbox"]:not(:checked), 
[type="checkbox"]:checked{
/*  position: absolute;
  left: 15px;
  visibility: hidden; 
  z-index: 100;
  width: 20px;
  height: 18px;
  top: 18px;*/
}

[type="checkbox"]+label:before{
  border: 2px solid #00BCD4;
}

[type="checkbox"]:checked+label:before {
  border-right: 2px solid #00BCD4;
  border-bottom: 2px solid #00BCD4;
}

/*input[placeholder] {
  color: white;
}*/

/*input#note {
  color: white;
}*/

/*label {
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

label::before {
  content: '';
}*/

/*---------->> HEXAGON PATTERN <<----------*/
/*.hexagon {
  width: 80px;
  height: 40px;
  background: rgba(225, 160, 0, 0.5);
  position: relative;
  margin: 15px;
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 25px solid #FFA000;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 25px solid #FFA000;
}*/

/*---------->> NOTES INPUT FIELD <<----------*/

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

input[type=text]:focus:not([readonly]) {
  border-bottom:1px solid #FF4081; 
  box-shadow:0 1px 0 0 #FF4081;
}

input#note[placeholder]{
  color: white;
  background: #FFA000;
  text-indent: 20px;
}

/*---------->> LOGIN <<----------*/

#login-buttons {
  display: block;
}

#login-dropdown-list {
  position: absolute;
  top: 15%;
  left: 10%;

/*  top: -150px;
  left: -30px;
  width: 320px;*/
}

.accounts-dialog {
  border-radius: 0;
  border: 1px solid #FF4081;
  background: #FF4081;
  color: #F2F2F2;
}

#login-buttons .login-button, 
.accounts-dialog .login-button {
  background: #FFC107;
  border: 1px solid #FFC107;
  border-radius: 2px;
}

input#login-username {
  background: FFFFFF;
  border: 1px solid #fff;
  border-radius: 2px;
}

#login-buttons input[type=password], 
.accounts-dialog input[type=password] {
  padding: 6px;
  border: 1px solid #fff;
  border-radius: 2px;
  line-height: 1.2;
  background: #FFFFFF;
}

#login-buttons .login-button:hover,
.accounts-dialog .login-button:hover {
  background: #FFA000;
  border: 1px solid #FFA000;
}

a#login-name-link {
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 1;
  text-decoration: none;
}

/*---------->> TASKS <<----------*/

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  /*font-weight: bold;*/
  background: none;
  /*font-size: 1em;*/
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #B6B6B6 solid 1px;
}

li .note {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .note {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

.toggle-private {
  margin-left: 5px;
}

/*---------->> FOOTER <<----------*/
.footer-container {
  height: 20px;
  background-color: #FFA000;
}

/*---------->> MEDIA QUERIES <<----------*/

@media (max-width: 600px) {

  .container {
    width: 100%;
  }

  h5 {
    font-size: 1.6em;
  }

  img {
    border: 0;
    width: 8%;
  }

  form {
    margin-top: 15%;
  }

  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}